body {
  background-color: #990000;
}

/* h1 {
  font-family: verdana;
  font-size: 40px;
  color: white;
  text-align: center;
  vertical-align: middle;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-family: verdana;
  font-size: 12px;
  text-align: right;
} */

#str {
  width: 800px;
  padding: 20px;
  height: auto;
  font-family: "Courier New";
  font-size: 64px;
  margin: 200px auto;
  color: white;
  font-weight: bold;
  /* background: #000 */
}
