<!DOCTYPE html>
<html>
<title>millo</title>

<head>
  <!-- <link rel="icon" type="image/ico" href="{{ url_for('static',filename='favicon.ico') }}"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

  <!-- <div id="str"></div> -->
  <!-- <script src="{{url_for('static', filename='script.js')}}"></script> -->
  <button class="button" onclick="location.href = './tweets';">Count the tweets!</button>

  <!-- <h1>Volim te, Mazo!</h1> -->
  <!-- <p>Slobodan Milovanović</p> -->

</body>

</html>
